.bar-chart {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.component-box {
  width: 35%; /* Adjust as needed */
  height: 30%; /* Adjust as needed */
  border: 2px solid black; /* Border style */
  background-color: red; /* Background color */
}
